/*Fuentes importadas de Google Fonts*/

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Catamaran&display=swap");

/*Librerías de Tailwind*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/*CSS del botón "Registrase gratis" de precios*/

.button {
  display: inline-block;
  border-radius: 7px;
  border: none;
  background: #174FFF;
  color: white;
  font-family: inherit;
  text-align: center;
  font-size: 18px;
  box-shadow: 0px 14px 56px -11px #1875FF;
  width: 10em;
  padding: 1em;
  transition: all 0.4s;
  cursor: pointer;
 }
 
 .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
 }
 
 .button span:after {
  content: 'gratis';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -40px;
  transition: 0.7s;
 }
 
 .button:hover span {
  padding-right: 2.75em;
 }
 
 .button:hover span:after {
  opacity: 4;
  right: 0;
 }

/*CSS para el botón del en successPay*/

.bottonraro2 {
  text-decoration: none;
  position: absolute;
  border: none;
  font-size: 14px;
  font-family: inherit;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
 }
 
 .bottonraro2:hover {
  animation: ani 8s linear infinite;
  border: none;
 }
 
 @keyframes ani {
  0% {
   background-position: 0%;
  }
 
  100% {
   background-position: 400%;
  }
 }
 
 .bottonraro2:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
 }
 
 .bottonraro2:hover::before {
  filter: blur(20px);
 }
 
 .bottonraro2:active {
  background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
 }


/*CSS para la animacion de carga de la biblioteca*/

.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}

.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #A8BDFF;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #3D6CFF;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {

  0%,
    100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}

/*CSS para el botón siguiente del SE*/

.bottonSig-1{
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.bottonSig-1:hover [disabled]{
  background-color: #174FFF;
  box-shadow: 0px 15px 20px rgba(0, 49, 200, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.bottonSig-1:active {
  transform: translateY(-1px);
}


.bottonSig-2{
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.bottonSig-2:hover{
  background-color: #174FFF;
  box-shadow: 0px 15px 20px rgba(0, 49, 200, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.bottonSig-2:active {
  transform: translateY(-1px);
}


/*CSS para el contenedor de los input*/

.seccion{
  margin-top: 8%;
  height: 440px;
}

.seccion2{
  margin-top: 8%;
  height: 600px;
}

.seccion3{
  margin-top: 8%;
  height: 700px;
}

@media screen and (max-width: 380px) {
  .seccion {
    margin-top: 30%;
    height: 80%;
  }
  .seccion2{
    margin-top: 30%;
    height: 85%;
  }
  .seccion3{
    margin-top: 30%;
    height: 85%;
  }
  

}

/*CSS para los input radio del SE*/

input:checked + label {
	border-color: #2563eb;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}


/*Imagenes para background*/

.bg-internal-img {
  background-image: url('../public/bcprice.jpg');
}

.bg-internal-img2 {
  background-image: url('../public/bcgym.jpg');
}

.textform{
  resize: none;
}

/*CSS del modelo de los musculos*/

.body-map {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-map__container {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}
.body-map__body {
  height: 540px;
}
.body-map__model {
  color: #000;
}
.body-map__muscle {
  color: #ebebeb;
  transition: color 25ms ease-in-out;
}
.body-map__muscle:hover {
  color: #2563eb;
  cursor: pointer;
}


@media screen and (max-width: 600px) {
  .body-map__body {
    height: 650px;
  }
}
@media screen and (max-width: 500px) {
  .body-map__body {
    height: 650px;
  }
}
@media screen and (max-width: 360px) {
  .body-map__body {
    height: 600px;
  }
}
@media screen and (max-width: 320px) {
  .body-map__body {
    height: 500px;
  }
}


